body {
    background-color: #FFF;
}

hr {
    background: transparent;
    border-bottom: 1px solid #000;
}

code {
    background: #FAFAFA;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
}
